= form_for @staff do |f|
  - if @staff.errors.any?
    #error_explanation
      %h2= "#{pluralize(@staff.errors.count, "error")} prohibited this staff from being saved:"
      %ul
        - @staff.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :address
    = f.text_area :address
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :sex
    = f.text_field :sex
  .field
    = f.label :born
    = f.date_select :born
  .field
    = f.label :front_title
    = f.text_field :front_title
  .field
    = f.label :back_title
    = f.text_field :back_title
  .field
    = f.label :role
    = f.text_field :role
  .actions
    = f.submit 'Save'
