%h1 Listing staffs

%table
  %thead
    %tr
      %th Full name
      %th Address
      %th Phone
      %th Sex
      %th Born
      %th Role
      %th Action
      %th
      %th

  %tbody
    - @staffs.each do |staff|
      %tr
        %td= staff.display_name
        %td= staff.address
        %td= staff.phone
        %td= staff.sex
        %td= staff.born
        %td= staff.role
        %td
          = link_to 'Detail', staff
          = link_to 'Edit', edit_staff_path(staff)
          = link_to 'Delete', staff, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Staff', new_staff_path
