%p#notice= notice

%p
  %b First name:
  = @staff.first_name
%p
  %b Last name:
  = @staff.last_name
%p
  %b Address:
  = @staff.address
%p
  %b Phone:
  = @staff.phone
%p
  %b Sex:
  = @staff.sex
%p
  %b Born:
  = @staff.born
%p
  %b Front title:
  = @staff.front_title
%p
  %b Back title:
  = @staff.back_title
%p
  %b Role:
  = @staff.role

= link_to 'Edit', edit_staff_path(@staff)
\|
= link_to 'Back', staffs_path
