= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-box"}) do |f|
  .header
    .title
      %h2 Please sign in
      %span Medical App
  .body
    .field
      .field-icon
        = f.text_field :login, class: "input-username", placeholder: "Email or username"
        %i.fa.fa-user
      .field-icon
        = f.password_field :password, autocomplete: "off", class: "input-password", placeholder: "Password"
        %i.fa.fa-lock
      .remember-wrapper
        = f.check_box :remember_me
        = f.label :remember_me
    %button#login.login-button{type: "submit"}
      %i.fa.fa-sign-in
      Log in
