.alert {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 5px 40px 5px 40px;
  text-align: center;
  border-bottom: 1px solid;
  background-color: darkgray;
  border-color: gray;
  color: white;
}
.alert-alert {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
