html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(80, 127, 180);
}

.login-box {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .header {
    background: rgba(242,242,242,1);
    background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(222,222,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dedede', GradientType=0 );
    display: block;
    height: 48px;
    border-bottom: 2px solid #d3d3d4;
    padding: 30px 25px 30px 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .title {
      text-align: center;
      h2 {
        margin-bottom: 5px;
        margin-top: 10px;
      }
      span {
        font-size: 12px;
      }
    }
  }
  .body {
    background-color: #f5f5f7;
    padding: 30px 25px 30px 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .field {
    margin-bottom: 10px;
    input {
      &:focus {
        outline: none;
      }
    }
    .field-icon {
      position: relative;
      input {
        width: 100%;
        padding: 20px 20px 20px 35px;
        box-sizing: border-box;
        margin-bottom: 0px;
        border-size: 1px;
        border-style: solid;
        border-color: #dadadb;
        border-radius: 5px;
        font-size: 14px;
        font-size: 14px;
      }
      i {
        position: absolute;
        top: 20px;
        left: 15px;
        color: #a9a9a9;
      }
    }
    .input-username {
      margin-bottom: 0px;
      border-top: 1px solid #c4c4c5;
      border-left: 1px solid #dadadb;
      border-right: 1px solid #dadadb;
      border-bottom: 0px!important;
      border-bottom-right-radius: 0px!important;
      border-bottom-left-radius: 0px!important;
    }
    .input-password {
      border-bottom: 1px solid #c4c4c5;
      border-left: 1px solid #dadadb;
      border-right: 1px solid #dadadb;
      border-top: 1px solid #dadadb;
      border-top-left-radius: 0px!important;
      border-top-right-radius: 0px!important;
    }
    .remember-wrapper {
      margin-top: 10px;
      border: 1px solid #dadada;
      border-radius: 5px;
      padding: 10px 20px 10px 20px;
    }
  }
  .login-button {
    border: none;
    color: white;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    background: rgba(22,169,222,1);
    width: 100%;
    background: -moz-linear-gradient(top, rgba(22,169,222,1) 0%, rgba(4,160,216,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22,169,222,1)), color-stop(100%, rgba(4,160,216,1)));
    background: -webkit-linear-gradient(top, rgba(22,169,222,1) 0%, rgba(4,160,216,1) 100%);
    background: -o-linear-gradient(top, rgba(22,169,222,1) 0%, rgba(4,160,216,1) 100%);
    background: -ms-linear-gradient(top, rgba(22,169,222,1) 0%, rgba(4,160,216,1) 100%);
    background: linear-gradient(to bottom, rgba(22,169,222,1) 0%, rgba(4,160,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a9de', endColorstr='#04a0d8', GradientType=0 );
    &:focus, &:hover {
      outline: none;
      background: rgba(0,160,218,1);
      background: -moz-linear-gradient(top, rgba(0,160,218,1) 0%, rgba(23,170,224,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,160,218,1)), color-stop(100%, rgba(23,170,224,1)));
      background: -webkit-linear-gradient(top, rgba(0,160,218,1) 0%, rgba(23,170,224,1) 100%);
      background: -o-linear-gradient(top, rgba(0,160,218,1) 0%, rgba(23,170,224,1) 100%);
      background: -ms-linear-gradient(top, rgba(0,160,218,1) 0%, rgba(23,170,224,1) 100%);
      background: linear-gradient(to bottom, rgba(0,160,218,1) 0%, rgba(23,170,224,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0da', endColorstr='#17aae0', GradientType=0 );
    }
  }
}
