!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Medical
    = stylesheet_link_tag    'session', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'session', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #flash
      - flash.each do |key, value|
        %div{ class: "alert alert-#{key}", style: "display: none;"}
          %p= value
    = yield
